.box1, .box2, .box3 {
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
}
.box1 {
    background-color: lightcoral;
}
.box2 {
    background-color: lightgreen;
    box-sizing: border-box;
}
.box3 {
    background-color: lightblue;
}
.block {
    display: block;
    background-color: yellow;
}
.inline {
    display: inline;
    background-color: pink;
}
.inline-block {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: orange;
}
.hidden {
    visibility: hidden;
}
.none {
    display: none;
}
