*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 30px;
    margin: 1cm;
}
h3{
    font-size: 2em;
}
h2, h3{
    color:darkblue;
}
.container{
    width: 96.5%;
    height: 10vh;
    background-color: #add8e6;
    padding: 2em;
}
div p{
    color: red;
}
input[type=text]{
    border: 2px solid green;
    padding: 20px;
    border-radius: 10px;
}

button{
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 10px;
}
button:hover{
    background-color: #8a2be2;
    transition: background-color 0.3s ease-in-out;
}
input:focus{
    background-color: #d8d8d8;
}